.nav {
  transition: all 0.3s;
  max-width: 1100px;
  margin: 0 auto;
  @media (min-width: 768px) {
    border-bottom: 1px solid hsla(220, 14%, 75%, 0.5);
  }

  & img,
  & svg {
    display: inline;
    cursor: pointer;
  }
  .avatar {
    border-radius: 50%;
    border: 2px solid;
    border-color: transparent;
    transition: all 0.2s;

    &:hover {
      border-color: hsl(26, 100%, 55%);
    }
  }
  .cart-icon-container {
    transition: all 0.3s;
    color: hsl(219, 9%, 45%);
    &:hover {
      color: hsl(220, 13%, 13%);
    }
    & span {
      font-size: 10px;
      padding: 0 6px;
      position: absolute;
      right: -6px;
      top: -3px;
    }
    & svg {
      fill: currentColor;
    }
  }
}
